/* extra.css */

.bg-primary
{
  background-color: darkolivegreen !important;
  background-image: linear-gradient(forestgreen, green);
}

a:link {
  color: green;
}
a:visited {
  color: darkgreen;
}
a:hover {
  color: limegreen;
}
a:active {
  color: darkolivegreen;
}

.table
{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

th
{
  text-align: center;
}

p
{
  margin-bottom: unset !important;
}

ul
{
  margin-top: unset !important;
  margin-bottom: unset !important;
}

blockquote
{
  background-color: #f0f0f0;
  font-style: italic;
  padding: 10px;
  margin: 10px;
}

details > summary {
  padding: 1em;
  width: 99%;
  background-color: lightgoldenrodyellow;
  border: 1px dotted silver;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

.yes
{
  font-size: 1.2em;
  font-weight: bold;
  color: green;
}

.no
{
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

.text-border
{
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.red
{
  color: red;
  font-weight: bold;
}

.green
{
  color: green;
  font-weight: bold;
}

.blue
{
  color: blue;
  font-weight: bold;
}

.gold
{
  color: gold;
  font-weight: bold;
}

.title-image
{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
